In [ ]:
import pandas as pd
import numpy as np
df= pd.read_csv("/content/EduData.csv")

In [ ]:
df.replace('?',np.nan ,inplace=True)
df.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     2
SectionID                   0
Topic                       2
Semester                    0
Relation                    8
raisedhands                 2
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [ ]:
df['Topic'].fillna(df['Topic'].mode()[0],inplace=True)
#replacing with most common topic (mean) i.e. IT

In [ ]:
df["raisedhands"]=pd.to_numeric(df["raisedhands"])
df['raisedhands'].fillna(df['raisedhands'].mean(),inplace=True)
#replacing with average

In [ ]:
df = df.dropna(subset=['Relation',"GradeID"])
df.isnull().sum()
#Removing rows from relation,gradeID where value is nan

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [ ]:
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15.0,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20.0,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10.0,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30.0,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40.0,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,T,Father,5.0,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50.0,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55.0,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30.0,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35.0,14,23,62,No,Bad,Above-7,L

In [ ]:
#outliers
freq_semester=df["Semester"].value_counts()
print(freq_semester)

Semester
F    240
S    228
T      2
Name: count, dtype: int64

In [ ]:
df["Semester"].replace(freq_semester.index[-1],freq_semester.index[0],inplace=True)
freq_semester=df["Semester"].value_counts()
print(freq_semester)

Semester
F    242
S    228
Name: count, dtype: int64

In [ ]:
df = df.drop('ParentAnsweringSurvey',axis=1)
#drop column ParentAnsweringSurvey

In [ ]:
#normalization of raisedhands and VisITedResources
df['raisedhands']=df['raisedhands']/df['raisedhands'].max()
df['VisITedResources']=df['VisITedResources']/df['VisITedResources'].max()

In [ ]:
#transforming gradeID
freq_GradeID = df["GradeID"].value_counts()
print(freq_GradeID.index.sort_values())

Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64', name='GradeID')

In [ ]:
Dict1 = {'G-02':1, 'G-04':2, 'G-05':3, 'G-06':4, 'G-07':5, 'G-08':6, 'G-09':7, 'G-10':8, 'G-11':9,
       'G-12':10}

In [ ]:
df["GradeID"] = df["GradeID"].map(Dict1)
df.head(10)
#Convert gradeID to '1-10'

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.15,0.161616,2,20,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.20,0.202020,3,25,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.10,0.070707,0,30,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.30,0.252525,5,35,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.40,0.505051,12,50,Bad,Above-7,M
5,F,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.42,0.303030,13,70,Bad,Above-7,M
6,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.35,0.121212,0,17,Bad,Above-7,L
7,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.50,0.101010,15,22,Good,Under-7,M
8,F,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.12,0.212121,16,50,Good,Under-7,M
9,F,KW,KuwaIT,MiddleSchool,5,B,IT,F,Father,0.70,0.808081,25,70,Good,Under-7,M

In [ ]:
freq_abs_stu = df["StudentAbsenceDays"].value_counts()
print(freq_abs_stu.index.sort_values())

Index(['Above-7', 'Under-7'], dtype='object', name='StudentAbsenceDays')

In [ ]:
#transforming StudentAbsenceDays
value2 = df["StudentAbsenceDays"].unique().tolist()
i=1
value2.sort()
for data in value2:
    df["StudentAbsenceDays"].replace(data,i,inplace=True)
    i -= 1

In [ ]:
df.head(10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.15,0.161616,2,20,Good,0,M
1,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.20,0.202020,3,25,Good,0,M
2,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.10,0.070707,0,30,Bad,1,L
3,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.30,0.252525,5,35,Bad,1,L
4,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.40,0.505051,12,50,Bad,1,M
5,F,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.42,0.303030,13,70,Bad,1,M
6,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.35,0.121212,0,17,Bad,1,L
7,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.50,0.101010,15,22,Good,0,M
8,F,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.12,0.212121,16,50,Good,0,M
9,F,KW,KuwaIT,MiddleSchool,5,B,IT,F,Father,0.70,0.808081,25,70,Good,0,M

In [ ]:
#binning-equal frequency
num_bin=7
bin_label = ["extremely-low","very-low","low","average","high","very-high","extremely-high"]
df["Discussion-Binning"]=pd.qcut(df["Discussion"],q=num_bin,labels=bin_label)
df.head(10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class,Discussion-Binning
0,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.15,0.161616,2,20,Good,0,M,very-low
1,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.20,0.202020,3,25,Good,0,M,low
2,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.10,0.070707,0,30,Bad,1,L,low
3,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.30,0.252525,5,35,Bad,1,L,average
4,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.40,0.505051,12,50,Bad,1,M,high
5,F,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.42,0.303030,13,70,Bad,1,M,very-high
6,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.35,0.121212,0,17,Bad,1,L,very-low
7,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.50,0.101010,15,22,Good,0,M,very-low
8,F,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.12,0.212121,16,50,Good,0,M,high
9,F,KW,KuwaIT,MiddleSchool,5,B,IT,F,Father,0.70,0.808081,25,70,Good,0,M,very-high

In [ ]:
#binning-equal-width
bin_label_equal_width=["O","A+","A","B+","B","C+","C"]
df["Discussion-equal-width-binning"]=pd.cut(df["Discussion"],bins=num_bin,labels=bin_label_equal_width)
df.head(10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class,Discussion-Binning,Discussion-equal-width-binning
0,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.15,0.161616,2,20,Good,0,M,very-low,A+
1,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.20,0.202020,3,25,Good,0,M,low,A+
2,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.10,0.070707,0,30,Bad,1,L,low,A
3,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.30,0.252525,5,35,Bad,1,L,average,A
4,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.40,0.505051,12,50,Bad,1,M,high,B+
5,F,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.42,0.303030,13,70,Bad,1,M,very-high,B
6,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.35,0.121212,0,17,Bad,1,L,very-low,A+
7,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.50,0.101010,15,22,Good,0,M,very-low,A+
8,F,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.12,0.212121,16,50,Good,0,M,high,B+
9,F,KW,KuwaIT,MiddleSchool,5,B,IT,F,Father,0.70,0.808081,25,70,Good,0,M,very-high,B

In [ ]:
#binning-custom
custom_edges=[22,32,44,54,63,71,88,94]
bin_custom_labels=["O","A","B","C","D","E","F"]
df["Discussion-custom-binning"]=pd.cut(df["Discussion"],bins=custom_edges,labels=bin_custom_labels)
df.head(10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class,Discussion-Binning,Discussion-equal-width-binning,Discussion-custom-binning
0,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.15,0.161616,2,20,Good,0,M,very-low,A+,NaN
1,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.20,0.202020,3,25,Good,0,M,low,A+,O
2,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.10,0.070707,0,30,Bad,1,L,low,A,O
3,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.30,0.252525,5,35,Bad,1,L,average,A,A
4,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.40,0.505051,12,50,Bad,1,M,high,B+,B
5,F,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.42,0.303030,13,70,Bad,1,M,very-high,B,D
6,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.35,0.121212,0,17,Bad,1,L,very-low,A+,NaN
7,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.50,0.101010,15,22,Good,0,M,very-low,A+,NaN
8,F,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.12,0.212121,16,50,Good,0,M,high,B+,B
9,F,KW,KuwaIT,MiddleSchool,5,B,IT,F,Father,0.70,0.808081,25,70,Good,0,M,very-high,B,D

In [ ]:
file_path="/home/pvg/DSBDA Assignments"
df.to_csv(file_path + "Modified_Edudata.csv",index=False)